.container {
    max-width: 1240px;
    margin: 0 auto;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.newsWrapper {
    background-image: url('../../assets/images/devonlar_background.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.worksTitle {
    padding-top: 140px;
    font-size: 32px;
    line-height: 48px;
    color: #1C1C1C;
    font-weight: 500;
    padding-bottom: 24px;
}

.newsMainSectionWrapper {
    padding: 24px 24px 100px 24px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.searchInput {
    border: 1px solid #6D93A9;
    outline: none;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: white;
    background-image: url('../../assets/images/search.svg');
    background-position: 16px 10px;
    background-repeat: no-repeat;
    padding: 12px 30px 12px 50px;
}

.form {
    margin-bottom: 32px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: white; /* Ensure table background is white */
}

.headerRow {
    text-align: left;
    background-color: #F8F9FC;
    color: #0B4A6F;
    border-radius: 50px;

}

.headerItem {
    padding: 8px 16px 8px 16px;
    font-weight: bold;
    border-bottom: 1px solid grey; /* Add bottom border to header items */
}

.bodyRow {
    width: 100%;
}

.bodyRow:hover {
    background-color: #f1f1f1; /* Optional: Slight hover effect */
}

.worksWrapper {
    margin-bottom: 100px;
}