.devonlarSectionWrapper {
    margin-top: 64px;
    margin-bottom: 100px;
}

.devonlarTitleText {
    padding-bottom: 24px;
    color: black;
    font-size: 32px;
    line-height: 48px;
    font-weight: 500;
}

/*.devonCards {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr 1fr 1fr;*/
/*    row-gap: 40px;*/
/*}*/