/*.wrapper {*/
/*    padding: 24px;*/
/*    background-color: white;*/
/*    border-radius: 16px;*/
/*}*/

.searchInput {
    border: 1px solid #6D93A9;
    outline: none;
    border-radius: 50px;
    /*width: 100%;*/
    box-sizing: border-box;
    font-size: 16px;
    background-color: white;
    background-image: url('../../assets/images/search.svg');
    background-position: 16px 10px;
    background-repeat: no-repeat;
    padding: 12px 30px 12px 50px;
}

.form {
    margin-bottom: 32px;
}

.cardsWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}