.devonlarTarkibiImageWrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.devonlarTarkibiImage {
    display: block;
}

.numberOverlay {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #98A2B3;
}

.title {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #1C1C1C;
}